node_modules
vendor
.git
.idea
.cursor
.claude
.gemini
public/build
public/hot
*.log
storage/inertia-devtools
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

